cabecera {

  .notifications {
    background-color: color($colors, primary) !important;
    color: white;
    border-radius: 0.5rem;
    padding: 1px 5px;
    position: absolute;
    top: 0.6rem;
    right: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
  }

  ion-row {
    width: 100%;
  }

  ion-icon {
    font-size: 3rem;
  }
}
