page-tags {

  .toolbar-title {
    color: white;
    text-transform: uppercase;
  }

  .back-button {
    color: color($colors, light);
  }

  .range-md .range-pin {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform        : translate3d(0, 0, 0) scale(1);
  }

}
