<ion-navbar>
  <ion-row>
    <ion-col col-3>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button icon-only (click)="goMap()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button icon-only (click)="goChats()">
        <ion-icon name="chat"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button icon-only (click)="comingSoon()">
        <ion-icon name="tools"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-navbar>
