page-buddy-profile {
  ion-content {
    background: url("../assets/imgs/gps_back.png") no-repeat center center fixed,  linear-gradient(to bottom, rgba(161,161,161,1) 0%, rgba(92,92,92,1) 21%, rgba(73,73,73,1) 39%, rgba(54,53,54,1) 57%, rgba(34,34,34,1) 100%);
    background-size: cover;
  }
  .toolbar-title, .toolbar-title-ios {
    color: white;
    text-transform: uppercase;
  }
  .back-button {
    color: white;
  }
  ion-card {
    background-color: rgba(255, 255, 255, 0.75) !important;
  }
  ion-card img {
    padding: 2rem 5rem 0rem;
  }

  .profile {
    object-fit: cover;
  }

  ion-row {
    margin: 4px;
  }
}
